@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
}

h1 {
    text-align: center;
    font-size: 2.3em;
    padding: 20px;
}

i#burguer {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    display: block;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

i#burguer:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.829);
}

menu {
    display: none;
}

menu > ul {
    background-color: rgb(73, 73, 73);
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(175, 175, 175);
}

main {
    display: block;
    width: 90vw;
    background-color: white;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

main > h2 {
    padding: 10px;
    text-align: center;
}

main > article > p {
    padding: 10px;
    text-indent: 30px;
}