@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    header menu ul {
        display: block;
        text-align: center;
    }

    header menu ul li {
        position: relative;
        display: inline;
        top: -10px;
        border: none;
        
    }
}