@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(185, 185, 185);
}

header {
    background-color: gray;
    margin-bottom: 10px;
}

header h1 {
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
}

header menu i {
    background-color: rgb(48, 48, 48);
    color: white;
    width: 100vw;
    padding: 10px 0px 10px 0px;
    text-align: center;
    cursor: pointer;
}

header menu i:hover {
    background-color: white;
    color: black;
}

header menu ul {
    display: none;
}

header menu ul li {
    background-color: rgb(66, 66, 66);
    border: 2px solid gray;
    text-align: center;
    padding: 10px;
}

header menu ul li a {
    color: white;
    text-decoration: none;
}

header menu ul li:hover {
    background-color: rgb(94, 94, 94);
    transition: 0.2s;
}

main {
    background-color: white;
    width: 90vw;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

main h2 {
    text-align: center;
    padding: 5px;
}

main p {
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
}