@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: gray;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    border: 1px dotted black;
    flex: 0 0 200px;
}

header nav {
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header nav a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

header nav a:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.39);
}

main p {
    text-align: justify;
}