@charset "UTF-8";

/*restante das medias*/

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {

    main {
        border: 1px solid black;
        font-family: 'Courier New', Courier, monospace;
    }

    main h1 {
        color: black;
        text-shadow: none;
        font-size: 2.2em;
        font-family: 'Courier New', Courier, monospace;
    }

    main::after {
        content: 'Essa impressão foi feita pela lenda Thiago Cardoso';
        text-decoration: overline;
        padding: 34px;
    }
 
    img#celular {display: none;}
    img#tablet {display: none;}
    img#impressora {display: block;  margin: auto;}
    img#computador {display: none;}
    img#televisão {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 60vw;
    }

    main h1 {
        font-size: 2.2em;
    }

    img#celular {display: none;}
    img#tablet {display: block; margin: auto;}
    img#impressora {display: none;}
    img#computador {display: none;}
    img#televisão {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 50vw;
    }

    main h1 {
        font-size: 2.4em;
    }

    img#celular {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#computador {display: block; margin: auto;}
    img#televisão {display: none;}
}

@media screen and (min-width: 1200px) {

    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 40vw;
    }

    main h1 {
        font-size: 2.8em;
    }

    img#celular {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#computador {display: none;}
    img#televisão {display: block; margin: auto;}
}