@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: lightgray;
}

header h1 {
    text-align: center;
    padding-bottom: 20px;
}

menu {
    display: none;
}

main, main p {
    padding: 20px;
    background-color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: auto;
}

footer p#print {
    display: block;
}

footer p#screen {
    display: none;
}